* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.parent__container {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}
.image__container {
  margin: 1rem 2rem;
  height: 300px;
  width: 450px;
  position: relative;
}
.image__container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.text__content {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 1rem;
  background-image: radial-gradient(
    rgba(255, 0, 0, 0.541),
    rgba(255, 255, 0, 0.521),
    rgba(0, 128, 0, 0.527)
  );
  color: white;
  display: flex;
  align-items: center;
}
.text__lorem {
  margin-top: 0.5rem;
}
